.App {
  text-align: center;
}

.containers{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90vh;
  padding: 10px;
}

.record-it-text{
  color: #ff4757
}

.left-container {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 300px;
  align-items: center;
}

.right-container{
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-task-button{
  background-color: rgb(49,38,185);
  color: white;
  border: 0px solid;
  margin-top: 50px;
}
